.input-area {
  background-color: aqua;
  width: 100%;
  height: 60px;
  text-align: center;
}



.incomplete-area {
  background-color: aquamarine;
  width: 100%;
  min-height: 200px;
}

.complete-area {
  background-color: antiquewhite;
}


.incomplete-text {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.complete-text {
  display: flex;
  align-items: center;
  padding: 10px;

}


.title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: grey;
  padding-top: 8px;
}



input {
  padding: 8px;
  border-radius: 16px;
  border: none;
  margin-top: 15px;
  margin-right: 8px;
}


button {
  padding: 5px 15px;
  border-radius: 16px;
  border: none;
  margin-right: 8px;
  font-weight: 700;
}

button:hover {
  background-color: palevioletred;
  color: white;
}

p {
  margin: 0;
  margin-right: 8px;
}

ul {
  margin: 0;
  padding-top:10px;
  padding-bottom: 10px;
}


/* liに「width:fit-content」と「margin: auto」 */
li {
  width: fit-content;
  margin: auto;
  text-decoration: none;
  list-style: none;
}